body{
background:pink;
}
form{
text-transform:capitalize;
background:linear-gradient(to bottom,orange,white,green);
margin:20px 0 0 10px;
border:10px solid orange;
outline:10px solid red;
color:black;
caret-color:black;
}
input:focus{
background:pink;
}
a{
text-decoration:none;
}

