body{
display:flex;
flex-direction:column;
text-transform:capitalize;

}
.top{
display:flex;
background:#336600;
color:white;
align-items:center;
}
.top ul{
list-style:none;
display:flex;
padding:10px;
}
a{
text-decoration:none;
color:white;
}

.heading{
margin:0 auto;
font-size:30px;
text-decoration-line:underline;
text-decoration-style:wavy;
text-decoration-color:white;
}
.menu li{
padding:10px;
}
.social-links li{
padding:10px;

}

.middle{
display:flex;
}
.middle .sidebar{
background:#ff8080;
flex:0 0 20vw;
background:linear-gradient(to bottom,orange,white,green);
}
.middle .sidebar ul{
list-style-type:"★ "
}
.middle .sidebar ul li{
padding:10px;

}
.middle .sidebar ul li a{
border-bottom:2px solid black;
color:black;
object-fit:cover;
}
.middle .sidebar img{
width:100px;
}
.middle .content{
background:white;
}
.content{
justify-content:space-between;
padding:10px;
}
.services{
display:flex;
}
.course{
border:1px solid grey;
padding:5px;
margin:10px;
box-shadow:5px 5px 3px grey;
flex-basis:30%;
max-width:350px;
}
.course img{
width:100%;

}
h2{
text-decoration-line:underline;
text-decoration-style:wavy;
text-decoration-color:orange;
}
h4{
border:2px solid black;
color:red;
box-shadow:3px 3px 2px grey;
background:linear-gradient(to right,orange,white);
}

@media screen and (max-width:800px){
.top{
flex-direction:column;
}
.top .heading{order:-1;
padding:5px;}
.middle{
flex-direction:column;
}
.services{
flex-direction:column;
align-items:center;
}
}
.end{
background:skyblue;
color:red;
font-size:30px;
text-shadow:3px 3px 3px grey;
}
