*{
    box-sizing:border-box;
}

body{
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    background-image: url("../images/birthday.JPG");
    height:100vh;
    background-position:center;
    background-size:auto;
    display:flex;
    flex-direction: column;
}
h1{
    font-size: 4rem;
    margin: 3rem auto;
    color:orange;
    background:rgba(119, 34, 34,.7);
    border:1px solid rgb(116, 56, 56);
    border-radius:20px;
    padding:10px;


}

.countdown-container{
    display:flex;
    font-size: 2rem;
    margin: 3rem auto;
    color:rgb(247, 244, 240);
    background:rgba(224, 21, 21,.5);
    border-radius:20px;
    padding:10px;
    margin:auto;
}
.big-text{
    font-size:3rem;
    line-height:1;
    margin:2rem 5rem;
}

.countdown{
text-align:center;
}


span{
    font-size:2rem;

}


